
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">Event List <a class="btn btn-animated btn-default pull-right" href="/adminevent/create">New Event <i class="fa fa-plus"></i></a></h1>
                <div class="separator-2"></div>
                <!-- page-title end -->
                <table class="table cart">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Title/Description</th>
                            <th>Start Date </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12</td>
                            <td style="width:90px">
                                <div class="overlay-container">
                                    <img class="media-object" alt="event-thumb" src="/images/blog-thumb-1.jpg" >
                                    <a class="overlay-link small" href="blog-post.html"><i class="fa fa-link"></i></a>
                                </div>
                            </td>
                            <td class="product" style="width:auto;"><a href="shop-product.html">Product Title 1</a> <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</small></td>
                            <td><p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2016</p></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td style="width:90px">
                                <div class="overlay-container">
                                    <img class="media-object" alt="event-thumb" src="/images/blog-thumb-1.jpg" style="width:90px">
                                    <a class="overlay-link small" href="blog-post.html"><i class="fa fa-link"></i></a>
                                </div>
                            </td>
                            <td class="product" style="width:auto;"><a href="shop-product.html">Product Title 1</a> <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</small></td>
                            <td><p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2016</p></td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="space-bottom"></div>
                <div class="text-right">
                    <form class="form-inline" role="form">
                        <a href="shop-cart.html" class="btn btn-group btn-default"><i class="icon-left-open-big"></i></a>
                        <div class="form-group">
                            <input class="form-control" id="page" type="email" value="1" style="width: 90px;text-align: right; ">
                            <label for="page">/10</label>
                        </div>
                        <button class="btn btn-gray" type="submit">Go</button>
                        <a href="shop-checkout-payment.html" class="btn btn-group btn-default"><i class="icon-right-open-big"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>