
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- banner start -->
<!-- ================ -->
<div class="banner dark-translucent-bg" style="background-image:url('images/page-about-banner-1.jpg'); background-position: 50% 27%;">
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-home pr-10"></i>Home</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
                <h3 class="title logo-font object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">All of <span class="text-default">Developer Events</span> in Korea</h3>
                <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

<!-- section start -->
<!-- ================ -->
<section class="pv-40 stats padding-bottom-clear  hovered " >
    <div class="clearfix">
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                <h3><strong>Events</strong></h3>
                <span class="counter" data-to="1525" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg circle"><i class="fa fa-users"></i></span>
                <h3><strong>Groups</strong></h3>
                <span class="counter" data-to="1225" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg circle"><i class="fa fa-cloud-download"></i></span>
                <h3><strong>Users</strong></h3>
                <span class="counter" data-to="12235" data-speed="5000">0</span>
            </div>
        </div>
        <div class="col-md-3 col-xs-6 text-center">
            <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                <span class="icon default-bg circle"><i class="fa fa-share"></i></span>
                <h3><strong>Likes</strong></h3>
                <span class="counter" data-to="15002" data-speed="5000">0</span>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>


