@{
    ViewBag.Title = "Home Page";
}
<div class="fullpage-site">
    <!-- section start -->
    <!-- ================ -->
    <section id="section-1" class="section dark-translucent-bg" style="background-image: url(images/agency-background-img-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title large">Wellcome to <span class="text-default">The Agency</span></h1>
                    <div class="separator-2"></div>
                    <p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
                    <a href="#secondPage" class="btn btn-default btn-xl">Let's Start</a>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <section id="section-2" class="section dark-translucent-bg" style="background-image: url(images/agency-background-img-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <h2 class="title">About Us</h2>
                    <div class="separator mt-10"></div>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium.</p>
                    <div class="space-bottom"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                    <div class="feature-box-2">
                        <span class="default-bg icon small"><i class="fa fa-diamond"></i></span>
                        <div class="body">
                            <h4 class="title">We Have Strong Background</h4>
                            <p>Voluptatem ad provident non repudiandae beatae cupiditate amet.</p>
                            <a class="link-light" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                        <div class="space-bottom"></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                    <div class="feature-box-2">
                        <span class="default-bg icon small"><i class="fa fa-connectdevelop"></i></span>
                        <div class="body">
                            <h4 class="title">We Love Details</h4>
                            <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritat.</p>
                            <a class="link-light" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                        <div class="space-bottom"></div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                    <div class="feature-box-2">
                        <span class="default-bg icon small"><i class="fa icon-snow"></i></span>
                        <div class="body">
                            <h4 class="title">We Use Latest Technologies</h4>
                            <p>Inventore dolores aut laboriosam cum consequuntur delectus sequ.</p>
                            <a class="link-light" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                        <div class="space-bottom"></div>
                    </div>
                </div>
                <div class="clearfix visible-md visible-lg"></div>
                <div class="col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                    <div class="feature-box-2">
                        <span class="default-bg icon small"><i class="fa fa-heart"></i></span>
                        <div class="body">
                            <h4 class="title">We Love to Code</h4>
                            <p>Voluptatem ad provident non repudiandae beatae cupiditate amet.</p>
                            <a class="link-light" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                        <div class="space-bottom"></div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                    <div class="feature-box-2">
                        <span class="default-bg icon small"><i class="fa fa-cogs"></i></span>
                        <div class="body">
                            <h4 class="title">We Are Extremely Flexible</h4>
                            <p>Iure sequi unde hic. Sapiente quaerat sequi inventore veritati.</p>
                            <a class="link-light" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-offset-1 col-lg-3">
                    <div class="feature-box-2">
                        <span class="default-bg icon small"><i class="fa icon-lifebuoy"></i></span>
                        <div class="body">
                            <h4 class="title">We Will Support You</h4>
                            <p>Inventore dolores aut laboriosam cum consequuntur delectus sequi.</p>
                            <a class="link-light" href="page-services.html">Read More<i class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <section id="section-3" class="section light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Recent <span class="text-default">Projects</span></h2>
                    <div class="separator"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae reprehenderit laboriosam, quasi ipsam adipisci, dolor facilis blanditiis, repellendus, esse porro ipsum! Quos obcaecati autem laudantium quis itaque non ducimus ea?</p>
                    <div class="space-bottom"></div>
                </div>
            </div>
        </div>
        <div class="owl-carousel carousel-autoplay">
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-1.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-2.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-3.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-4.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-5.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-6.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <section id="section-4" class="section dark-translucent-bg" style="background-image: url(images/agency-background-img-3.jpg);">
        <div class="owl-carousel content-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonial text-center">
                            <div class="testimonial-image">
                                <img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                            </div>
                            <h3>Just Perfect!</h3>
                            <div class="separator"></div>
                            <div class="testimonial-body">
                                <blockquote>
                                    <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                                </blockquote>
                                <div class="testimonial-info-1">- Jane Doe</div>
                                <div class="testimonial-info-2">By Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonial text-center">
                            <div class="testimonial-image">
                                <img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                            </div>
                            <h3>Amazing!</h3>
                            <div class="separator"></div>
                            <div class="testimonial-body">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                                </blockquote>
                                <div class="testimonial-info-1">- Jane Doe</div>
                                <div class="testimonial-info-2">By Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="clients-container">
                <div class="clients">
                    <div class="client-image">
                        <a href="#"><img src="images/client-1.png" alt=""></a>
                    </div>
                    <div class="client-image">
                        <a href="#"><img src="images/client-2.png" alt=""></a>
                    </div>
                    <div class="client-image">
                        <a href="#"><img src="images/client-3.png" alt=""></a>
                    </div>
                    <div class="client-image">
                        <a href="#"><img src="images/client-4.png" alt=""></a>
                    </div>
                    <div class="client-image">
                        <a href="#"><img src="images/client-5.png" alt=""></a>
                    </div>
                    <div class="client-image">
                        <a href="#"><img src="images/client-6.png" alt=""></a>
                    </div>
                    <div class="client-image">
                        <a href="#"><img src="images/client-7.png" alt=""></a>
                    </div>
                    <div class="client-image">
                        <a href="#"><img src="images/client-8.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section start -->
    <!-- ================ -->
    <section id="section-5" class="section pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <h2 class="text-center">Contact Us</h2>
                    <div class="separator"></div>
                    <p class="lead text-center">It would be great to hear from you! Just drop us a line and ask for anything with which you think we could be helpful. We are looking forward to hearing from you!</p>
                    <ul class="list-inline mb-20 text-center">
                        <li><i class="text-default fa fa-map-marker pr-5"></i>One infinity loop, 54100</li>
                        <li><a href="tel: 00 1234567890" class="link-dark"><i class="text-default fa fa-phone pl-10 pr-5"></i>+00 1234567890</a></li>
                        <li><a href="mailto:info@theproject.com" class="link-dark"><i class="text-default fa fa-envelope-o pl-10 pr-5"></i>info@theproject.com</a></li>
                    </ul>
                    <div class="separator"></div>
                    <ul class="social-links circle animated-effect-1 margin-clear text-center space-bottom">
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                        <li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
</div>