@{
    ViewBag.Title = "Home Page";
}
<div class="fullpage-site">
    <!-- section start -->
    <!-- ================ -->
    <section id="section-1" class="section dark-translucent-bg" style="background-image: url(images/agency-background-img-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="title large"><span class="text-default">Developer Event</span> App</h1>
                    <div class="separator-2"></div>
                    <p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi perferendis magnam ea necessitatibus, officiis voluptas odit! Aperiam omnis, cupiditate laudantium velit nostrum, exercitationem accusamus, possimus soluta illo deserunt tempora qui.</p>
                    <a href="#secondPage" class="btn btn-default btn-xl">iOS</a> 
                    <a href="#secondPage" class="btn btn-default btn-xl">Android</a> 
                    <a href="#secondPage" class="btn btn-default btn-xl">Windows 10</a> 
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <section id="section-3" class="section light-gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Related <span class="text-default">Site</span></h2>
                    <div class="separator"></div>
                    <p>개발자와 IT Pro를 위한 다양한 컨텐츠를 만나보세요.</p>
                    <div class="space-bottom"></div>
                </div>
            </div>
        </div>
        <div class="owl-carousel carousel-autoplay">
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-1.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">MSDN</a></h3>
                            <p class="small">Microsoft Developer Network Site</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="https://msdn.microsoft.com/ko-kr/" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-2.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-3.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-4.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-5.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-box shadow text-center">
                <div class="overlay-container">
                    <img src="images/portfolio-6.jpg" alt="">
                    <div class="overlay-top">
                        <div class="text">
                            <h3><a href="portfolio-item.html">Project Title</a></h3>
                            <p class="small">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="overlay-bottom">
                        <div class="links">
                            <a href="portfolio-item.html" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
</div>