<?xml version="1.0" encoding="utf-8"?>

<!-- Web.config 변환 사용에 대한 자세한 내용은 http://go.microsoft.com/fwlink/?LinkId=301874를 참조하십시오.-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
      connectionString="Server=tcp:deveventdbdev.database.windows.net,1433;Initial Catalog=deveventdb_dev;Persist Security Info=False;User ID=kevinoh;Password=Pas$w0rd1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <!--Azure Storage -->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=deveventstoragedev;AccountKey=WYOO4Pk+GevvjLbGF9Ql//K52rTqAehYnh21LlGzMejzvjCOiTVi7ThhEEpVbn9UxWJTt4YKDAjLN71CFLqxqA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AzureStorageBaseUrl" value="https://deveventstoragedev.blob.core.windows.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <!--
      아래 예에서 "Replace" 변환은 Web.config 파일의
      <customErrors> 섹션 전체를 바꿉니다.
      <system.web> 노드 아래에는 customErrors 섹션이 하나만 있기 때문에
      "xdt:Locator" 특성을 사용할 필요가 없습니다.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
